.not-found-container{
height: 100vh;
}
.error-btn{
    background-color: brown;
    text-decoration: none;
    color: white;
    display:block;
    width: 110px;
    margin: 50px auto;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;

}