.contact-container{
    background-image: url(../../images/contactjpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: tomato;
    background-blend-mode: darken;
}